<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZakupyNEW.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZakupyNEW.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <ZakupyNEW.My.MySettings>
            <setting name="SETCOL" serializeAs="String">
                <value/>
            </setting>
            <setting name="SplitCDIST1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitCDIST2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitCDIST3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FRM2WS" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FRM2SIZEW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FRM2SIZEH" serializeAs="String">
                <value>0</value>
            </setting>
        </ZakupyNEW.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ZakupyNEW.My.MySettings>
            <setting name="Wyniki" serializeAs="String">
                <value>http://10.0.1.29:3000</value>
            </setting>
        </ZakupyNEW.My.MySettings>
    </applicationSettings>
</configuration>
